.M_header {
	background-color: black !important;
	padding: 2px;

}

.header_right {
	float: right;
	font-size: 18px;
}
li a.search_button {
	border: 4px solid #9d9d9d;
	border-radius: 50px !important;
	padding: 8px 30px !important;
	line-height: 8px !important;
	background-color: transparent !important;
	margin-top: 5px;
	font-size: 16px;
}
.text_decoration {
	color: silver !important;
}
.main_menu {
	font-size: 16px;
	color: #9d9d9d;
	margin: 0px 10px;
}
.footer a {
	padding-left: 433px;
	color: silver;
}
/* vendors index page css will start from here*/

.page_container {
	width: 100%;
	height: auto;
	min-height: 500px;
	overflow: auto;
	padding-top: 20px;
	margin-top: 150px;
	
}

.wrapper {
	width: 500px;
	height: auto;
	margin: auto;
	background-color: #ECF1E1;
	border: 1px solid #ccc;
	padding: 20px;
	color: #2E2E2E;
	
}

.panel.panel-default.vendors_grid_container {
	margin: auto;
}
.new_link_div {
	float: right;
	margin-top: 20px;

}
.new_button {
	background-color: #787878;
}
.panel_heading_text {
	float: left;
	width: 70%;
	font-style: oblique;
}

.panel-heading {
	overflow: auto;
	border-bottom: 3px ridge #787878;
}
/* vendors index page css ends here*/
#error_explanation {
	color: #df1e05;
	margin-bottom: 15px;
}
.right-head-sec {
	margin-top: 75px;
}
.label {
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.admin_login_form {
	 font-size: 14px;
}

.required {
	color: red;
}
.error-message {
	color: red;
}

.login_div {
	min-height: 214px;
	width: 67%;
	overflow: auto;
	border: solid 1px #F37D21;
	margin: auto;
	padding: 20px;
	margin-top: 50px;
}
.button_wrapper {
	margin-left: 181px;
}

.error input, .error select, .error textarea {
	border: solid 1px red;
}


