<% if @organization.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

    <ul>
    <% @organization.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>Name</label><br />
  <input type="text" class="js-name" id="organization_name" name="organization[name]" tabindex='1' maxlength='50' />
  <p class="error-message js-error hide">
    Please enter Full Name.
  </p>
</div>

<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>Address</label><br />
  <input type="text" class="js-address" id="organization_address" name="organization[address]" tabindex='1' maxlength='50' />
  <p class="error-message js-error hide">
    Please enter Complete Address.
  </p>
</div>

<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>City</label><br />
  <input type="text" class="js-city" id="organization_city" name="organization[city]" tabindex='1' maxlength='50' />
  <p class="error-message js-error hide">
    Please enter city name.
  </p>
</div>
<form class="js-new_organization_form">
<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>Country</label><br />
  <input type="text" class="js-country" id="organization_country" name="organization[country]" tabindex='1' maxlength='9' />
  <p class="error-message js-error hide">
    Please enter Country.
  </p>
</div>

<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>Zip Code</label><br />
  <input type="text" class="js-zip_code" id="organization_zip_code" name="organization[zip_code]" tabindex='1' maxlength='10' />
  <p class="error-message js-error hide">
    Please enter Zip code of the country.
  </p>
</div>

<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>Phone Number</label><br />
  <input type="text" class="js-phone_number" id="organization_phone_number" name="organization[phone_number]" tabindex='1' maxlength='50' />
   <p class="error-message js-error hide">
    Please enter valid phone number.
  </p>
</div>
</form>

<div class="actions">
  <button type="submit" id="save_organization" class="new_button btn btn-info js-new_organization_submit" title="Save Changes" tabindex="6">Save</button>
</div>
