<h3>Editing organization</h3>
<%= form_tag("/organizations/#{@organization.id}", { :method => :put, :id => "edit_organization" }) do %>
	<%= render 'form' %>
<% end %>

<%= link_to 'Back', organizations_path %>
