<div class="page_container">
  <div  class="wrapper">
<div class="panel panel-default organizations_grid_container">
<!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Listing Organizations</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_organization_path %>" class="">
          <div class="btn-group btn-group-xs " role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-info">New Organization</button>
          </div>
      </a>
    </div>
  </div>
<table class="table table-striped table-hover table-responsive">
  <thead>
  <tr class="">
    <th class="customize">Name</th>
    <th class="customize">City</th>
    <th class="customize">Country</th>
    <th class="customize">Phone Number</th>
  </tr>
</thead>
<tbody>
<% @organizations.each do |organization| %>
  <tr>
    <td class="customize" ><%= organization.name %></td>
    <td class="customize"><%= organization.city %></td>
    <td class="customize"><%= organization.country %></td>
    <td class="customize"><%= organization.phone_number %></td>
    <td class="customize"><%= link_to 'Edit', edit_organization_path(organization) %> | <%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</body>
</table>
</div>
</div>
</div>


