<% if @consignment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@consignment.errors.count, "error") %> prohibited this consignment from being saved:</h2>

    <ul>
    <% @consignment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<form class="js-new_consignment_form">
<div class="field">
  <label for="title" class="form_label"><span class="required">*</span>Title</label><br />
  <input type="text" class="js-title" id="consignment_title" name="consignment[title]" tabindex='1' maxlength='50' value="<%= @consignment.title %>"/>
  <p class="error-message js-error hide">
    Please enter title.
  </p>
</div>

<div class="field">
  <label for="vendor_id" class="form_label">Vendor</label><br />    
  <%= select_tag "consignment[vendor_id]", options_from_collection_for_select(@vendors, "id", "name") %>
</div>

<div class="field">
  <label for="organization_id" class="form_label">Organization</label><br />    
  <%= select_tag "consignment[organization_id]", options_from_collection_for_select(@organizations, "id", "name") %>
</div>

<div class="field">
  <label for="category_id" class="form_label">Category</label><br />    
  <%= select_tag "consignment[category_id]", options_from_collection_for_select(@categories, "id", "name") %>
</div>

<div class="field">
  <label for="type_id" class="form_label">Type</label><br />    
  <%= select_tag "consignment[type_id]", options_from_collection_for_select(@types, "id", "name") %>
</div>

<div class="field">
  <label for="name" class="form_label"><span class="required">*</span>Deliver Date</label><br />    
  <input type="text" class="js-deliver_date" id="consignment_sent_date" name="consignment[sent_date]" tabindex='1' maxlength='50' /> (dd/mm/yyyy)
  <p class="error-message js-error hide">
    Please enter deliver date.
  </p>
</div>
</form>
<div class="actions">
  <button type="submit" id="save_consignment" class="btn btn-info js-new_consignment_submit" title="Save Changes" tabindex="6">Save</button>
  &nbsp;
  <a href="<%= @consignments %>">
  <button type="cancel" id="cancel_consignment" class="btn btn-info" title="Save Changes" tabindex="6">Account</button>
  &nbsp;
  </a>
  <a href="<%= consignments_path %>">
  <button type="cancel" id="cancel_consignment" class="btn btn-info" title="Save Changes" tabindex="6">Cancel</button>
  </a>
</div>
