<h3>Editing consignment</h3>
<%= form_tag("/consignments/#{@consignment.id}", { :method => :put, :id => "edit_consignment", :multipart => true }) do %>
	<%= render 'form' %>
<% end %>

<%= link_to 'Show', @consignment %> |
<%= link_to 'Back', consignments_path %>
