<div class="page_container">
  <div  class="wrapper">
<div class="panel panel-default consignments_grid_container">
<!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Track Consignments</h3>
    </div>
  <div class="new_link_div">
      <a href="<%= "/consignment/#{@consignment.id}/new_comment" %>" class="">
          <div class="btn-group btn-group-xs " role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-info">Add comment</button>
          </div>
      </a>
    </div>
  </div>
<table class="table table-striped table-hover table-responsive">
  <thead>
  <tr class="">
    <th class="customize">Added By</th>
    <th class="customize">Date</th>
    <th class="customize">Comment</th>
    
  </tr>
</thead>
<tbody>
<% @histories.each do |history| %>
  <tr>
    <td class="customize" ><%= history.commenter_id  %></td>
    <td class="customize"><%= history.created_at %></td>
    <td class="customize"><%= history.comment  %></td>
  </tr>
<% end %>
</body>
</table>
</div>
</div>
</div>