<div class="page_container">
  <div  class="wrapper">
<div class="panel panel-default consignments_grid_container">
<!-- Default panel contents -->
  <div class="panel-heading">
    <div class="panel_heading_text">
      <h3>Listing Consignments</h3>
    </div>
    <div class="new_link_div">
      <a href="<%= new_consignment_path %>" class="">
          <div class="btn-group btn-group-xs " role="group" aria-label="Extra-small button group">
            <button type="button" class="btn btn-info">New Consignment</button>
          </div>
      </a>
    </div>
  </div>
<table class="table table-striped table-hover table-responsive">
  <thead>
  <tr class="">
    <th class="customize">Title</th>
    <th class="customize">Consignment No</th>
    <th class="customize">vendor</th>
    <th class="customize">Organization</th>
    <th class="customize">Track</th>
    <th class="customize"></th>
  </tr>
</thead>
<tbody>
<% @consignments.each do |consignment| %>
  <tr>
    <td class="customize" ><%= consignment.title %></td>
    <td class="customize"><%= consignment.id%></td>
    <td class="customize"><%= consignment.vendor_id %></td>
    <td class="customize"><%= consignment.organization_id %></td>
    <th><a href='<%= "/consignment/#{consignment.id}/history" %>' >Track</a></th>
    <td class="customize"><%= link_to 'Edit', edit_consignment_path(consignment) %> | <%= link_to 'Destroy', consignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</body>
</table>
</div>
</div>
</div>
  