<h3>New consignment</h3>
<%= form_tag(consignments_path, { :method => :post, :id => "create_consignment", :multipart => true }) do %>
	<%= render 'form' %>
<% end %>
<%= link_to 'Back', consignments_path %>