<%= form_tag("/consignment/#{@consignment.id}/save_consignment", { :method => :post, :id => "add_comment" }) do %>
<div class="wrapper" style="margin-top:150px">
  <div class="field">
    <label for="title" class="form_label"><h4>Consignment</h4></label> - <%= @consignment.title %> | <%= @consignment.id %>
    <input type="hidden" name="comment[consignment_id]" value="<%= @consignment.id %>" />
    <input type="hidden" name="comment[commenter_id]" value="1" />
  </div>

  <div class="field">
    <textarea rows="4" cols="50" name="comment[comment]" placeholder="Comment"></textarea>
  </div>

  <div class="actions">
    <button type="submit" id="save_consignment" class="btn btn-info" title="Save Changes" tabindex="6">Save</button>
  </div>
</div>
<% end %>


