<div class="page_container">
<div class="wrapper">
  <h3> Consignment Details</h3>
<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt>Consignment No</dt>
  <dd><%= @consignment.id %></dd>
  <dt>Title</dt>
  <dd><%= @consignment.title %></dd>
  <dt>Vendor</dt>
  <dd><%= @consignment.vendor_id %></dd>
  <dt>Organization</dt>
  <dd><%= @consignment.organization_id %></dd>
  <dt>QR Code</dt>
  <% if @consignment.qr_code.present? %>
    <dd style="padding-top: 15px;">
      <%= image_tag(root_url + @consignment.qr_code, alt: "QR Code image") %>
    </dd>
  <% else %>
    <dd>Not Available</dd>
  <% end %>
</dl>
  <div class="button_wrapper">
    <a href="<%= edit_consignment_path(@consignment) %>">
    <button type="edit" id="edit_consignment" class="btn btn-info" title="Save Changes" tabindex="6">Edit</button>
    </a>
    &nbsp;&nbsp;
    <a href="<%= consignments_path %>">
    <button type="cancel" id="cancel" class="btn btn-info" title="Save Changes" tabindex="6">Cancel</button>
    </a>
  </div>
</div>
</div>