
<!DOCTYPE html>
<html>
<head>
  <title>Track The World - Super Admin Portal</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'bootstrap_and_overrides', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "common" %>
  <%= javascript_include_tag "vendorAndOrganization" %>
  <%= javascript_include_tag "Consignment" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "global"  %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-header M_header">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand text_decoration" href="#">Track The World</a>
        <div class="nav-collapse header_right">
          <ul class="nav">
            <li class="main_menu text_decoration"><%= link_to "Vendors", vendors_path %></li>
            <li class="main_menu text_decoration"><%= link_to "Organization", organizations_path %></li>
            <li class="main_menu text_decoration"><%= link_to "Consignments", consignments_path %></li>
            <li>
              <a class="search_button text_decoration"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
            </li>            
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12"><%= yield %></div>
    
    </div>
  </div>
<div class="navbar-footer navbar-fixed-bottom" style="background-color: black">
    <div class="container">
        <span class="footer">
          <a class="brand" href="#"> Copyright @tracktheworld</a>
        </span>
    </div>
</div>

</body>
</html>
